/* 
    General Styles


*/
.body{
    margin: 0px;
    background-color: black;
}



 
.h-100 {
    background-color: lightgray;
}


.intro{
    
    background-image: url("https://savvytokyo.scdn3.secure.raxcdn.com/app/uploads/2019/10/Argentum-Wealth-Financial-Advisement-790x445.jpg");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 335px;
    
}
    
    





.travelImg{
    margin-left: 125px;
    margin-top: 0px;
    height: 300px;
    width: 100%;

}

#img{

    height: 100%;
    width: 100%
    
}

input[id=firstpage]{
    background-color: lightgray;
    
}

 

.expense{
    display: flex;
    flex-direction: column;
    justify-content: center
}

 
.email{
    position: relative;
}


input[id=staticEmail]{
    padding-left: 40px;

}


.email i{
    position: absolute;
    left: 65px;
    right: 30;
    top: 7px;

}


.user{
    position: relative;
}


input[id=userName]{
    padding-left: 20px;

}


.user i{
    position: absolute;
    left: 100px;
    right: 30;
    top: 7px;

}



.incomeField{
    position: relative;
    
}


input[id=userincome]{
    padding-left: 20px;
    width: 200px;
    height: 30px;

}


.incomeField i{
    position: absolute;
    
    right: 30;
    top: 40px;

}
