/* 
    General Styles


*/
.body{
    margin: 0px;
    background-color: black;
}
 



 
#footerImg{
     height: 30px;
}






.travelImg{
    margin-left: 125px;
    margin-top: 0px;
    height: 300px;
    width: 100%;

}

#img{

    height: 100%;
    width: 100%
    
}

input[id=firstpage]{
    background-color: lightgray;
    
}

//  ----------------------------------------------------------firstpayge---------------------------------------------------------------------
.firstPageBody{
    display: flex;
    height: 800px;
    width: 100%;
    background-image: url("https://savvytokyo.scdn3.secure.raxcdn.com/app/uploads/2019/10/Argentum-Wealth-Financial-Advisement-790x445.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.firstPageRight{
    border: 2px solid black;

}
.firstPageLeft{
    flex-direction: column;
}
 .firstPageInputFields{
    border: 2px solid black;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}

 
.idk{
    border-radius: 10px;
    margin-left: 10px;
    border: 2px sold #aaa

}

#growSavings :focus{
    border-color : brown;

}


.firstPage{
    border-radius: 10px;
    margin-left: 72px;
}

#firstPageSubmit{
    margin-top: 250px;    

}
//  ---------------------------------------------------------Login----------------------------------------------------------------------
.loginForm{
    margin-left: 84px;
}
// ---------------------------------------------------------ImG--------------------------------------------------------------------------
 .imgdiv{
    
    width: 800px;
    border: 2px solid black;
   
}
   



 #loginImg{
     height: 100%;
     width: 100%;
 }
// ------------------------------------------------------------------------------

.userLogin{
    height: 100%;
    width: 100%;
    background-image: url("http://mobileimages.lowes.com/product/converted/823951/823951023863.jpg?size=pdhi");
    background-repeat: no-repeat;
    background-size: cover;
 
}

.container{
    margin-top: 130px;
}

.loginRight{
    border: 2px solid black;
    width: 100%;
    background-image: url("https://www.who.int/images/default-source/departments/health-financing/new-health-budget.tmb-1200v.jpg?sfvrsn=30862a71_4");
    background-size: cover;
   
}

.loginRight h1{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 39px;
    margin-bottom: 43px;
}
// ---------------------email------------------------
.sUser{
    position: absolute;
    margin-top: 32px;
    margin-left: 48px;
}

#staticEmail{
   
    margin-left: 129px;
    width: 300px;
    padding-left: 15px;

}

.sEmail{
    position: absolute;
  
    margin-left: 97px;
}

#Email{
    position: absolute;
    margin-left: 20px;
}
// ---------------------email------------------------
// ---------------------user------------------------
.userdiv{
    margin-bottom: 34px;
}
.sUser{
   
    margin-top: 8px;
     position: absolute;
    
    margin-left: 100px;
}

#userName{
    width: 100px;
    margin-top: 9px;
    margin-left: 15px;
    height: 30px;
}

#userName1{
    height: 30px;
    width: 331px;
    margin-top: 8px;
    padding-left: 55px;
    margin-left: -15px;
}
// ---------------------user------------------------
// ---------------------income------------------------
.incomeField{
    margin-top: 39px;
}

#labelincome{
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    

}

.sIncome{
    margin-left: 96px;
}

#userincome{
    width: 300px;
    height: 30px;
}


// ---------------------income------------------------
.submitButtion{
    position: absolute;
    margin-top: 82px;
    margin-left: 250px;
}
// ----------------------------------------------------login*************************************************************
 



// -------------------------------------------------TRAVEL-------------------------------------------------------
.travelContainer{
    background-image: url("https://images.pexels.com/photos/1154498/pexels-photo-1154498.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");  
    background-repeat: no-repeat;
    background-size:cover;
    height: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    // opacity: 0.4;

}
.travelItem1{
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.travelBox{
    
    margin-top: 300px;
    margin-left: 94px;
    opacity: 0.8;
    width:inherit;
}

// -------------------------------------------------TRAVEL-------------------------------------------------------





// ----------------------------------------------------------------EXPENSE--------------------------------------------


.expense{
    display: flex;
    flex-direction: column;
    height: 90%;
    
}

.enterExpense{
    border-bottom: 2px solid   black;
    margin-bottom: 20px;
}

.expenseContainer{
    height: 95%;
   
    background-image: url("https://savvytokyo.scdn3.secure.raxcdn.com/app/uploads/2019/10/Argentum-Wealth-Financial-Advisement-790x445.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.expenseContainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.expenseSave{
    margin-top: 20px;
}
.inputField{
    height: 90%;
    border: 2px solid   black;
}

.left{
    background-color: wheat;
    border: 1px solid   black;
    margin-left: 517px;
     
}

.leftName{
    text-align: center;
    margin-top: 40px;
    height: 144px;
}

.userExpense{
    margin-bottom: 17px;
}

.leftBalance{
text-align: center;
    height: 25%;
}

.leftSp{
        padding-left: 80px;
}
// _____________________________________________________________________________SecondPage_________________________________-______________
.reportInfoSp{
    display: flex;
    flex-direction: column;
    width:356px;
}

 


// _____________________________________________________________________________SecondPage_________________________________-______________